*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: Helvetica;
}



main{
    height: 100%;
    width: 100%;
    background-color: rgb(17, 16, 16);
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    


    .card{
        width: 280px;
        border-radius: 10px;
        padding: 30px;
        text-align: center;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(136, 132, 132, 0.642);   
        backdrop-filter: blur(5px);
        margin: 30px;
        margin-right: 50px;
        cursor: pointer;

        img{
            height: 150px;
            width: 150px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        h3{
            font-size: 30px;
            white-space: nowrap;
            color: wheat;

        }

        h4{
            font-size: 25px;
            white-space: nowrap;
            margin-top: 10px;
            color: rgb(193, 46, 76);
        }

        p{
            font-size: 15px;
            margin-top: 18px;
            color: aqua;
        }

    }


}